body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}
.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*
CSS del formulario de login http://cssdeck.com/labs/minimal-style-login-form
*/

@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    src: url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.ttf") format("truetype"), url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.otf") format("opentype"), url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.svg") format("svg");
    font-family: icon;
}
body {
    background: #fff;
    font-family: 'Open Sans';
}
label {
    font-family: icon;
    text-shadow: 0 -1px 0 #666;
    -webkit-font-smoothing: antialiased;
}
#block, #option {
    width: 230px;
    height: 113px;
    margin: auto;
}
#block {
    background: #333333;
    margin-top: 100px;
}
#block:before {
    content: '';
    display: block;
    width: 230px;
    height: 3px;
}
#block:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #333333;
    transform: rotate(-45deg);
    margin: 10px 18px;
    position: absolute;
}
#block label, #submit {
    position: absolute;
    width: 33px;
    height: 34px;
    background: #E45614;
    margin: 15px;
    text-align: center;
    line-height: 2.2;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
#block label#pass {
    position: absolute;
    width: 33px;
    height: 34px;
    background: #E45614;
    margin: -5px 15px;
}
#submit {
    border: 0;
    margin: -29px 180px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-family: icon;
    background: #E45614;
    text-shadow: 0 -1px 0 #6c5B6d;
    box-shadow: -1px 0 1px 0px #6c5B6d;
    font-size: 12px;
    line-height: 2.8;
    padding: 0;
}
#submit:hover {
    background-color: #FBA46A;
    box-shadow: -1px 0 1px 0px #FF7C3F;
    color:#333333;
}
#user, #pass {
    box-shadow: 0.1px 0 2px #6c5B6d;
}
#block input[type=text], #block input[type=password], #option p {
    font-family: 'Open Sans';
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
#block input[type=text], #block input[type=password] {
    width: 156px;
    height: 32px;
    margin: 15px 15px;
    border: 0;
    border-radius: 2px;
    outline: 0;
    display: block;
    font-size: 18px;
}
#block input[type=password] {
    width: 156px;
    height: 32px;
    margin: -5px 15px;
}
#submit {
    color: #fff;
    font-size: 8px;
    font-weight: bold;
}
#option {
    width: 230px;
    height: 80px;
    overflow: hidden;
    margin: auto;
}
#option p {
    color: #E45614;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 18px;
    margin-top: 15px;
    display: block;
    float: left;
    -webkit-font-smoothing: antialiased;
    /*text-shadow:0 -1px 0 #000;*/
}
#option a {
    -webkit-font-smoothing: antialiased;
    color: #E45614;
    /*text-shadow:0 -1px 0 #000;*/

    font-size: 12px;
    display: block;
    float: right;
    margin: 26px 15px;
}
input {
    padding-left: 40px;
}
#block:active > #block:before {
    background-position: 100px 100px;
}
/* placeholder */

::-webkit-input-placeholder {
    -webkit-font-smoothing: antialiased;
    color: #999;
    font-size: 16px;
}
:-moz-input-placeholder {
    color: #999;
    font-size: 16px;
}
